{% extends "sistema/base.html" %}

{% block title %}
Registro Categoria
{% endblock title %}

{% block contenido %}
<h1 class="h3 mb-2 text-gray-800">Registro Categoria</h1>

</br>

<div class="container-fluid">
  <div>
    <p>
      <a href="/categorias/crear/" class="btn btn-info">Agregar Categoría</a>
      <a href="/categorias/inactivos/" class="btn btn-info ml-auto">Categorias Inactivas</a>
    </p>
  </div>

  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered tabla-datatable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for categoria in categorias %}
            <tr>
              <td>{{ categoria.nombre }}</td>
              <td>{{ categoria.descripcion }}</td>
              <td>
                {% if categoria.activo %}
                <!-- Proveedor activo -->
                {% comment %} <a href="{% url 'detalle_categoria' categoria.id %}" class="btn btn-success">
                  <span class="icon text-white-50">
                    <i class="fas fa-edit"></i>
                  </span>
                  <span class="text">Editar</span>
                </a> {% endcomment %}
                <a href="{% url 'desactivar_categoria' categoria.id %}" class="btn btn-danger">
                  Desactivar
                  <i class="fas fa-trash-alt"></i>
                </a>
                {% else %}
                <!-- Proveedor eliminado -->
                <a href="{% url 'reingresar_categoria' categoria.id %}" class="btn btn-primary">
                  Reingresar
                  <i class="fas fa-undo"></i>
                </a>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

{% endblock contenido %}
