{% extends "sistema/base.html" %}

{% block title %}
Registro Devoluciones
{% endblock title %}

{% block contenido %}
<h1 class="h3 mb-2 text-gray-800">Registro Devoluciones</h1>

</br>

<div class="container-fluid">
    <div>
        <p>
          <a href="/devoluciones/crear/" class="btn btn-info">Ingresar Devolucion</a>
          <a href="{% url 'reporte_devoluciones' %}" class="btn btn-primary btn-block">Reporte Devoluciones</a>

          {% comment %} <a href="/historial_devoluciones/" class="btn btn-info">Historial Devoluciones</a> {% endcomment %}
      </div>

  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered tabla-datatable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>ID Devolucion</th>  
              <th>ID Salida</th>
              <th>Mercancia</th>
              <th>Sucursal</th>
              <th>Cantidad Devuelta</th>
              <th>Fecha</th>
              <th>Responsable</th>
              {% if user.is_superuser %}
              <th>Acciones</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for devolucion in devoluciones %}
            <tr>
              <td>{{ devolucion.id }}</td>
              <td>{{ devolucion.salida_mercancia.id }}</td>
              <td>{{ devolucion.salida_mercancia.mercancia.nombre }}</td>
              <td>{{ devolucion.salida_mercancia.sucursal.nombre }}</td>
              <td>{{ devolucion.cantidad_devuelta }}</td>
              <td>{{ devolucion.fecha|date:"d/m/Y H:i:s" }}</td>
              <td>{{ devolucion.user }}</td>
              {% if user.is_superuser %}
              <td>
                <!-- Acciones adicionales si es necesario -->
                <a href="{% url 'deshacer_devolucion' devolucion.id %}" class="btn btn-primary">
                  Eliminar
                  <i class="fas fa-undo"></i>
                </a>
              </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock contenido %}
