{% extends "sistema/base.html" %}

{% block title %}
Historial de Devoluciones
{% endblock title %}

{% block contenido %}
<h1 class="h3 mb-2 text-gray-800">Historial de Devoluciones</h1>

</br>

<div class="container-fluid">
  <div>
    <p>
        <a href="/devoluciones" class="btn btn-info">volver</a>
    </p>
  </div>
  

  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered tabla-datatable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Salida</th>
              <th>Cantidad Devuelta</th>
              <th>Fecha</th>
              {% if user.is_superuser %}
              <th>Acciones</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for devolucion in devoluciones %}
            <tr>
              <td>{{ devolucion.salida_mercancia }}</td>
              <td>{{ devolucion.cantidad_devuelta }}</td>
              <td>{{ devolucion.fecha|date:"d/m/Y H:i:s" }}</td>
              {% if user.is_superuser %}
              <td>
                <a href="{% url 'eliminar_historial_devolucion' devolucion.id %}" class="btn btn-danger btn-circle btn-sm" title="Deshacer Devolución">
                  Deshacer
                  <i class="fas fa-undo"></i>
                </a>
              </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock contenido %}
