{% extends "sistema/base.html" %}

{% block title %}
Historial de Salidas
{% endblock title %}

{% block contenido %}
<h1 class="h3 mb-2 text-gray-800">Historial de Salidas</h1>

</br>

<div class="container-fluid">
  <div>
    <p>
        <a href="/salidas" class="btn btn-info">volver</a>
      {% comment %} <a href="{% url 'entradas_inactivas' %}" class="btn btn-info">Reingresar</a> {% endcomment %}
    </p>
  </div>
  

  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered tabla-datatable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Mercancia</th>
              <th>Cantidad</th>
              <th>Fecha</th>
              {% if user.is_superuser %}
              <th>Acciones</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for salida in salidas %}
            <tr>
              <td>{{ salida.mercancia }}</td>
              <td>{{ salida.cantidad }}</td>
              <td>{{ salida.fecha|date:"d/m/Y H:i:s" }}</td>
            {% if user.is_superuser %}
            <td>
              <!-- Proveedor eliminado -->
              <a href="{% url 'eliminar_historial_salida' salida.id %}" class="btn btn-danger btn-circle btn-sm" title="Eliminar">
                Reingresar
                <i class="fas fa-undo"></i>
              </a>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

{% endblock contenido %}
                