{% extends "sistema/base.html"%}

{% block title %}
Registro Proveedor
{%endblock title%}



{% block contenido %}
<h1 class="h3 mb-2 text-gray-800">Registro Proveedores</h1>

</br>

<div class="container-fluid">

  <div>
    <p>
        <a href="/proveedores/crear/" class="btn btn-info">Agregar </a>
        <a href="/proveedores/reingresar/" class="btn btn-info">Reingresar </a>

    </p>
  </div>

 <div class="card shadow mb-4">
   <div class="card-body">
       <div class="table-responsive">
        <table class="table table-bordered tabla-datatable" width="100%" cellspacing="0">
          <thead>
               <tr>
                 <th>Nombre</th>
                 <th>Dirección</th>
                 <th>Teléfono</th>
                 <th>Acciones</th>
               </tr>
             </thead>
             <tbody>
                 {% for proveedor in proveedores %}
                 <tr>
                   <td>{{ proveedor.nombre }}</td>
                   <td>{{ proveedor.direccion }}</td>
                   <td>{{ proveedor.telefono }}</td>
                   <td>
                      <a href="{% url 'detalle_proveedor' proveedor.id %}" class="btn btn-success">
                        <span class="icon text-white-50">
                        <i class="fas fa-edit"></i>
                      </span>
                        <span class="text">Editar</span>
                      </a>
                      <a href="{% url 'eliminar_proveedor' proveedor.id %}" class="btn btn-danger">Borrar
                        <i class="fas fa-trash-alt"></i>
                      </a>
                   </td>
                 </tr>
                 {% endfor %}
               </tbody>
           </table>
         </div>
       </div>
   </div>
</div>

{% comment %} 
<ul>

    {%for proveedor in proveedores%}

    <li>    
        <a href="{%url 'detalle_proveedor' proveedor.id%}">

            <strong>Proveedor {{proveedor.id}} </strong>
            <p>  Codigo:  {{proveedor.codigo}} </p>
            <p>  Nombre:  {{proveedor.nombre}} </p>
            <p>  Direccion:  {{proveedor.direccion}} </p>
            <p>  Telefono:  {{proveedor.telefono}} </p>

        </a>

    </li>
    {%endfor%}


</ul> 
{% endcomment %}

{% endblock contenido %}