{% extends "sistema/base.html" %}

{% block title %}
Registro Salida
{% endblock title %}

{% block contenido %}
<h1 class="h3 mb-2 text-gray-800">Registro Salida</h1>

</br>

<div class="container-fluid">
  <div>
    <p>
      <a href="/salidas/crear/" class="btn btn-info">Sacar</a>
      <a href="/historial_salidas/" class="btn btn-primary">Historial</a>
      {% comment %} <a href="{% url 'entradas_inactivas' %}" class="btn btn-info">Reingresar</a> {% endcomment %}
    </p>
  </div>
  

  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered tabla-datatable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>ID</th>
              <th>Mercancia</th>
              <th>Sucursal</th>
              <th>Cantidad</th>
              <th>Fecha</th>
              <th>Responsable</th>
              {% if user.is_superuser %}
              <th>Acciones</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for salida in salidas %}
            <tr>
              <td>{{ salida.id }}</td>
              <td>{{ salida.mercancia }}</td>
              <td>{{ salida.sucursal }}</td>
              <td>{{ salida.cantidad }}</td>
              <td>{{ salida.fecha|date:"d/m/Y H:i:s" }}</td>
              <td>{{ salida.user }}</td>
              {% if user.is_superuser %}
              <td>
                <!-- Proveedor eliminado -->
                <a href="{% url 'eliminar_salida' salida.id %}" class="btn btn-primary">
                  Reingresar
                  <i class="fas fa-undo"></i>
                </a>
              </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
          
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock contenido %}
