{% extends "sistema/base.html"%}

{% block title %}
Registro Sucursal 
{%endblock title%}



{% block contenido %}
<h1 class="h3 mb-2 text-gray-800">Registro Sucursales</h1>

</br>

<div class="container-fluid">

  <div>
    <p>
        <a href="/sucursales/crear/" class="btn btn-info">Agregar </a>
    </p>
  </div>

 <div class="card shadow mb-4">
   <div class="card-body">
       <div class="table-responsive">
          <table class="table table-bordered" id="tabla-proveedores" width="100%" cellspacing="0">
             <thead>
               <tr>
                 <th>Nombre</th>
                 <th>Dirección</th>
                 <th>Teléfono</th>
                 <th>Responsable</th>
               </tr>
             </thead>
             <tbody>
                 {% for sucursal in sucursales %}
                 <tr>
                    <td>{{sucursal.nombre}}</td>
                    <td>{{sucursal.direccion}}</td>
                    <td>{{sucursal.telefono}}</td>
                    <td>{{sucursal.responsable}}</td>
                    <td>
                       <a href="{% url 'detalle_sucursal' sucursal.id %}" class="btn btn-success">
                        <span class="icon text-white-50">
                        <i class="fas fa-edit"></i>
                      </span>
                        <span class="text">Editar</span>
                      </a>
                      <a href="{% url 'detalle_sucursal' sucursal.id %}" class="btn btn-danger">Borrar
                        <i class="fas fa-trash-alt"></i>
                      </a>
                    </td>
                 </tr>
                 {% endfor %}
               </tbody>
           </table>
         </div>
       </div>
   </div>
</div>

{% comment %} 
<ul>

    {%for proveedor in proveedores%}

    <li>    
        <a href="{%url 'detalle_proveedor' proveedor.id%}">

            <strong>Proveedor {{proveedor.id}} </strong>
            <p>  Codigo:  {{proveedor.codigo}} </p>
            <p>  Nombre:  {{proveedor.nombre}} </p>
            <p>  Direccion:  {{proveedor.direccion}} </p>
            <p>  Telefono:  {{proveedor.telefono}} </p>

        </a>

    </li>
    {%endfor%}


</ul> 
{% endcomment %}

{% endblock contenido %}